.App {
  text-align: center;
}

.kartya{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-block: 10px;
  border-radius: 5px;
  background-color: lightblue;
  border-radius: 5px;
}

.btn{
  padding: 0;
}